* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 12px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 15px; /* increased padding */
    height: 60px; /* fixed height for inputs */
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* increased font size to match */
}

.submit-btn {
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.submit-btn:hover , .back-btn:hover{
    background-color: #333;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color:black;
    
}


.input-error {
    border: 1px solid red; /* Example error style */
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}





.register-box {
    display: none; /* Hide all login boxes by default */
}
.active {
    display: block; /* Show the active login box */
}

.error {
color: red; /* Set error message color to red */
margin-top: 10px;
}